* {
	
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
}

nav ul {
	text-align: center;
	float: right;
}

nav ul li {
	font-family: 'Ruda', Sans-Serif;
	font-size: 30px;
	display: inline-block;
	text-decoration: none;
	padding: 30px;
	text-transform: uppercase;
}

nav ul li:hover {
	color: #fff;
	transition: all 1s;
}

#hero {
	height: 100vh;
	background: url('../img/podcast.jpeg') no-repeat;
	background-size: cover;
}

#banner_one, 
#banner_two {
	background: #000;
	height: 40vh;
}

#one {
	background: url('../img/hand.jpeg') no-repeat;
	background-size: cover;
	height: 80vh;
}