* {
	
}

html {
	background: rgba(0, 0, 0, 0.7);
}

body {
	margin-right: 0;
	transition: margin-right .3s;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.small-font {
	font-family: 'Poppins', Sans-Serif;
	font-size: 14px;
}

header {
	// display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	width: 100%;
	font-family: 'Ruda', Sans-Serif;
	font-size: 30px;
}

header .logo {
	display: flex;
	flex-direction: row;
	padding: 30px;
	float: left;
}

header .logo img {
	height: 25%;
	width: 25%;
}

header .logo h1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 34px;
}

.open-menu {
	right: 0;
}

.ham-open {
	margin-right: 200px;
}

nav {
	display: flex;
	flex-direction: column;
	float: right;
	padding-top: 22px;
}

nav ul {
	position: absolute;
	right: -200px;
	flex-direction: column;
	float: right;
	padding-top: 20px;
	margin-top: 80px;
	transition: right .3s;
}

nav ul li {
	text-decoration: none;
	padding: 30px;
	text-transform: uppercase;
	cursor: pointer;
	color: yellow;
}

nav ul li:hover {
	color: #fff;
	transition: all 1s;
	font-size: 32px;
}

@media (max-width: 500px) {
	header {
		flex-direction: column;
	}
	header .logo { 
		float: none;
		padding-bottom: 0px;
	}
	nav ul {
		flex-direction: column;
		float: none;
		padding: 0px;
	}
	nav ul li {
		display: flex;
		justify-content: center;
	}
}

.hamburger {
  position: relative;
  float: right;
  width: 60px;
  height: 40px;
  margin: 32px;
  margin-right: 100px;
  cursor: pointer;
  z-index: 5;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background: #fff;
  transition: 0.6s;
  z-index: 5;
}

.hamburger span.scroll {
	background: #000;
}

.hamburger .one {
  top: 0;
}
.hamburger .two, .hamburger .three {
  top: 10px;
}
.hamburger .four {
  top: 20px;
}

.hamburger.open .one, .hamburger.open .four {
  display: none;
}

.hamburger.open .two {
  transform: rotate(45deg);
}

.hamburger.open .three {
  transform: rotate(-45deg);
}

#hero {
	height: 100vh;
	background: url('../img/podcast.jpeg') no-repeat;
	background-size: cover;
}

#banner_one, 
#banner_two {
	display: flex;
	justify-content: center;
	font-family: 'Ruda', Sans-Serif;
	background: #000;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 42px;
	padding: 50px 0px;
}

#banner_one p,
#banner_two p {
	display: none;
}

#one {
	background: url('../img/background.jpg') fixed;
	background-size: cover;
}

#one .about,
#one .about-two {
	display: flex;
	align-items: center;
	padding: 50px;
}

#one .about p,
#one .about-two p {
	justify-content: space-around;
	font-size: 22px;
	font-weight: bold;
	padding: 20px;
	line-height: 1.5;
}

#one .about img,
#one .about-two img {
	border-radius: 50%;
	width: 100%;
	margin: 40px;
	border: 2px solid #000;
}

#one .about {
	padding-bottom: 0px;
}

#one .about-two {
	padding-top: 0px;
}

@media (max-width: 500px) {
	#one .about,
	#one .about-two {
		flex-direction: column;
		padding: 0;
	}
	#one .about img,
	#one .about-two img {
		width: 50%;
	}
}

#two {
	display: flex;
	background: #fff;
	border-top: 1px solid #fff;
}

#two .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: left;
	width: 50%;
	// background: url('../img/mural.jpg') no-repeat;
	// background-size: cover;
}

#two .left .episode {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	border-radius: 5px;
	margin: 10px;
	cursor: pointer;
	padding: 0 40px;
}

#two .left .episode:hover {
	color: yellow;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid yellow;
	transition: all 1s;
}

#two .left .episode img {
	width: 20%;
	float: right;
}

#two .left .episode h1 {
	font-size: 22px;
}

#two .right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	float: right;
	width: 50%;
	// background: url('../img/doors.jpeg') no-repeat;
	// background-size: cover;	
}

#two .right h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

#two .right p {
	text-align: center;
	font-size: 28px;
}

#sound-wave {
	padding: 20px;
	display: flex;
	align-items: center;
}

#sound-wave .wave {
	flex-direction: row;
	background: yellow;
	margin: 5px;
	width: 4px;
}

#sound-wave .one {
	height: 7px;
}

#sound-wave .two {
	height: 10px;
}

#sound-wave .three {
	height: 15px;
}

#sound-wave .four {
	height: 17px;
}

#sound-wave .five {
	height: 35px;
}

#sound-wave .six {
	height: 12px;
}

#sound-wave .seven {
	height: 28px;
}

#sound-wave .eight {
	height: 12px;
}

#sound-wave:hover {
	#sound-wave .five {
		background: blue;
	}
}

footer {
	font-family: 'Ruda', Sans-Serif;
	border-top: 1px solid #fff;
}

footer .top {
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;

}	

footer .top .top_content {
	color: #fff;
	text-transform: uppercase;
}

footer .top .top_content .content {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

footer .top .top_content .content img {
	width: 5%;
	height: 5%;
}

footer .top .top_content .content p {
	text-align: left;
	margin-right: 20px;
}

footer .top .top_content button {
	padding: 10px;
	background: transparent;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #ccccff;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 4px;
}

footer .top .top_content button:hover {
	border: 2px solid yellow;
	transition: all 1s;
	background: #000;
	color: yellow;
}

footer .bottom {
	background: rgba(0, 255, 255, 0.5);
	text-align: center;
	padding: 40px;
	text-transform: uppercase;
}

@media (max-width: 500px) {
	footer .top .top_content .content img {
		display: none;
	}
}